# Core functionality - changes here should be rare!
/src/app.py                   @JoaoRuffino
/src/backend/database.py      @JoaoRuffino
/src/backend/routers/auth.py  @JoaoRuffino

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JoaoRuffino
